body {
  font-family: Verdan, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

body {
    display: block;
    margin: 8px;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}
